{:paths ["src" "resources" "target/classes"]

 :deps
 {org.clojure/clojure  {:mvn/version "1.11.0"}
  nostromo/nostromo    {:git/url "https://github.com/nosana-ci/nostromo"
                        :sha     "641fc912df5ace0da364e7ad2d26341d4b126f3c"}
  ;; nostromo/nostromo    {:local/root "../nostromo"}

  org.clojure/tools.cli {:mvn/version "1.0.214"}


  ring/ring {:mvn/version "1.9.6"}
  clj-http/clj-http    {:mvn/version "3.12.3"}
  clj-commons/clj-yaml {:mvn/version "0.7.169"}

  ;; nrepl
  cider/cider-nrepl {:mvn/version "0.28.7"}

  ;; solanaj deps
  org.java-websocket/Java-WebSocket {:mvn/version "1.5.1"}
  org.bitcoinj/bitcoinj-core        {:mvn/version "0.15.8"}
  com.squareup.okhttp3/okhttp       {:mvn/version "4.9.0"}
  com.squareup.moshi/moshi          {:mvn/version "1.9.2"}
  com.squareup.moshi/moshi-adapters {:mvn/version "1.9.2"}}

 ;; we need to compile solanaj as a prep step for this app
 :deps/prep-lib
 {:ensure "target/classes"
  :alias  :build
  :fn     build/compile}

 :aliases {:dev {:extra-deps  {integrant/repl {:mvn/version "0.3.2"}
                               io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.0" :git/sha "b3fd0d2"}}
                 :extra-paths ["dev/src" "test"]
                 :jvm-opts ["-XX:-OmitStackTraceInFastThrow"]}

           :compile
           {:replace-deps {io.github.clojure/tools.build
                           {:git/tag "v0.7.7"
                            :sha     "1474ad69bbb70d4ac9c7601f9bdb2c189dd28477"}}
            :extra-paths  ["."]
            :ns-default   build
            :exec-fn      build/compile}

           :container
           {:replace-deps {io.github.atomisthq/jibbit
                           {:git/sha "ca4f7d33b1e8dc0f20c26bc4f6c6b8aa8098293f"}}
            :ns-default   jibbit.core
            :ns-aliases   {jib jibbit.core}
            :exec-fn      jibbit.core/build}

           :production
           {:jvm-opts ["-Xms256M" "-Xmx1g"]}}}
