{:base-image {:type :registry
              :image-name "registry.gitlab.com/nosana-ci/tools/containers/clojure:v1.0.4"
              :authorizer {:fn jibbit.creds/load-edn
                           :args {:local ".creds.edn"}}}
 :main "nosana-node.main"
 :aliases [:production]
 :aot true
 :target-image {:type :registry
                :image-name "registry.gitlab.com/nosana-ci/apps/platform/nosana-node"
                :tagger {:fn jibbit.tagger/environment
                         :args {:varname "CONTAINER_TEST"}}
                :authorizer {:fn jibbit.creds/load-edn
                             :args {:local ".creds.edn"}}}}
