{:base-image {:type :registry
              :image-name "registry.gitlab.com/nosana-ci/apps/platform/node_base_image:724d458ee0aea52121dd871fdd4d7eb58db79a1b"
              :authorizer {:fn jibbit.creds/load-edn
                           :args {:local ".creds.edn"}}}
 :main "nosana-node.main"
 :aot true
 :target-image {:type :registry
                :image-name "registry.gitlab.com/nosana-ci/apps/platform/nosana_node"
                :tagger {:fn jibbit.tagger/tag}
                :authorizer {:fn jibbit.creds/load-edn
                             :args {:local ".creds.edn"}}}}
