{:pinata-jwt #env PINATA_JWT

 :solana-private-key
 #or [#env SOLANA_PRIVATE_KEY
      #join ["" #include #join [#env HOME "/.config/solana/id.json"]]]

 :dummy-private-key #include "dummy-private-key.json"

 :nosana-market #env NOSANA_MARKET

 :nft #env NOSANA_NFT

 :ipfs-url
 #or [#env IPFS_URL "https://nosana.mypinata.cloud/ipfs/"]

 :start-job-loop?
 #profile {:prod true :dev false}

 :solana-network
 #keyword #or [#env SOLANA_NETWORK
               :devnet]

 :allowed-ops
 [:container/run :container/create-volume]

 :port 3000

 :poll-delay-ms
 #long #or [#env NOSANA_POLL_DELAY_MS 10000]

 :podman-conn-uri #profile {:prod #or [#env PODMAN_CONN_URI "http://podman:8080"]
                            :dev "http://localhost:8080"}}
