;; default configuration values, see cli.clj
{:pinata-jwt         nil
 :solana-private-key nil
 :nosana-market      nil
 :nft                nil
 :ipfs-url           "https://nosana.mypinata.cloud/ipfs/"
 :start-job-loop?    false
 :solana-network     :devnet
 :allowed-ops        [:container/run :container/create-volume]
 :port               3000
 :poll-delay-ms      10000
 :podman-conn-uri    "http://localhost:8080"}
