{:secrets #include #join [#env HOME "/.nosana-node-secrets.edn"]
 :pinata-jwt #profile {:prod #env PINATA_JWT
                       :dev #ref [:secrets :pinata-jwt]}
 :solana-private-key #profile {:prod #env SOLANA_PRIVATE_KEY
                               :dev #ref [:secrets :solana-private-key]}
 :solana-network #profile {:prod #or [#keyword #env SOLANA_NETWORK :mainnet]
                           ;; :dev :mainnet
                           :dev :devnet
                           }
 :podman-conn-uri #profile {:prod #or [#env PODMAN_CONN_URI "http://podman:8080"]
                            :dev "http://localhost:8080"}
 :nosana-jobs-queue #profile {:prod #or [#env NOSANA_JOBS_QUEUE "https://app.nosana.ci/jobs/queued"]
                              ;; :dev "https://app.nosana.ci/jobs/queued"
                              :dev "https://backend.k8s.dev.nos.ci/jobs/queued"
                              }
 :nosana-job-status-refresh-url #profile {:prod "https://app.nosana.ci/commits/"
                                          :dev "https://backend.k8s.dev.nos.ci/commits/"
                                          ;; :dev "https://app.nosana.ci/commits/"
                                          }

 :nosana-reclaim-queue #profile {:prod #or [#env NOSANA_RECLAIMS_QUEUE "https://app.nosana.ci/jobs/reclaims"]
                                 ;; :dev "https://app.nosana.ci/jobs/reclaims"
                                 :dev "https://backend.k8s.dev.nos.ci/jobs/reclaims"
                                 }
 }
